<div style="background-image: url('allpokemon.png');   height: 250px;"></div>
<div class="container-fluid">
    <h2>Welcome! Log in to catch <span style="font-family: 'PokemonSolid'; font-size: 2rem; ">Pokemon!</span></h2>

    <input type="text" class="form-control" placeholder="username" [(ngModel)]="username">
    <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
    <button class="btn" (click)="login()"><img src="Pokemon.jpg" height="75"></button>
    <button class="btn" (click)="pikachu()"><img src="pikachu.gif" height="50px"></button>
</div>
<div style="background-image: url('allpokemon.png');   height: 219px;"></div>